.form-col {
  width: 296px;
}
.form-holder {
  max-width: 800px;
  min-height: 637px;
  background-color: #fff;
  padding: 24px;
  margin-bottom: 42px;
  margin-right: 17px;
  box-shadow: 0px 16px 28px 0px #020a1514;
  border-radius: 8px;
}
.form-title {
  margin-bottom: 12px;
  color: #020a15;
}
.form-description {
  margin-bottom: 24px;
  color: #353b44;
}
.form-checkbox {
  content: "";
  width: 12px;
  height: 12px;
  margin: 0 4px 0 0;
  border: solid 1px #a8a8a8;
  text-align: center;
  border-radius: 100%;

  background: #f6f6f6;
  background: radial-gradient(#f6f6f6, #dfdfdf);
}
.form-group {
  margin-bottom: 22px;
}
.required-label::after {
  content: "*";
  padding-left: 2px;
  color: #ff2828;
}
.last-form-group {
  margin-bottom: 40px;
}

.phone-number {
  margin-bottom: 59px;
}

.field-error {
  color: #ff2828;
  text-align: right;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
}
.form-label {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 140%;
  font-weight: 700;
  color: #353b44;
}
.form-control {
  padding: 8px 8px 8px 12px;
  height: 40px;
  border: 1px solid #b3b6b9;
  border-radius: 4px;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  color: #353b44;
}
.form-control:focus {
  box-shadow: none;

  border: double 1px #0057ff;
  background-color: transparent;
}
.form-select {
  border: 1px solid #b3b6b9;
  border-radius: 4px;
  padding: 8px 8px 8px 12px;
  height: 40px;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  color: #353b44;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: url("../../img/select-arrow.svg") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  appearance: none !important;
  padding-right: 2rem !important;
}
.form-select:focus {
  box-shadow: none;
  border: double 1px #0057ff;
}

@media (max-width: 768px) {
  .form-holder {
    max-width: 704px;
    margin: auto;
    margin-bottom: 42px;
  }
}

@media (max-width: 360px) {
  .form-holder {
    max-width: 328px;
    max-height: 889px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
    margin-bottom: 54px;
  }

  .form-title {
    font-size: 20px;
    line-height: 120%;
    font-weight: 700;
  }
}
